:root {
  /* Fonts */
  --fnav: "Glegoo", serif;
  --fnav-regular: 400;
  --fnav-bold: 800;

  /* Colors */
  --text-colour: black;
  --colour-primary: #007bff;
  --colour-border: #ccc;

  /* Sizing */
  --nav-height: 60px;
}

.nav {
    font-family: var(--fnav);
    font-weight: var(--fnav-bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--nav-height);
  padding: 5%;
  border-bottom: 1px solid var(--colour-border);
}

.logo {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  text-decoration: none;
  color: var(--text-colour);
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-colour);
  font-size: 1.5rem;
}

.nav-item a:hover {
  color: var(--colour-primary);
}
